<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Medusa Repository Watcher</title>
    <link rel="stylesheet" href="/main.css">
   </head>
   <body>
     <main class="mx-auto max-w-2xl">
       <%= yield %>
     </main>
   </body>
</html>
